<!DOCTYPE html>
<!-- Quick Notes fevvelasquez -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clients</title>
</head>
<body>
	<h1>Clients</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>E-mail</th>
				<th>Created At</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="client: ${mclients}">
				<td th:text="${client.id}"></td>
				<td th:text="${client.fname}"></td>
				<td th:text="${client.lname}"></td>
				<td th:text="${client.email}"></td>
				<td th:text="${client.createdAt}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>