<!DOCTYPE html>
<!-- Quick Notes fevvelasquez -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clients</title>
</head>
<body>
	<!-- menu-start -->
	<h3>Menu</h3>
	<ul>
		<li><a th:href="@{/client}">[ new ]</a></li>
	</ul>
	<!-- menu-end -->

	<!-- CONTAINER -->
	<div class="container">
		<h1 class="text-secondary">Clients</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>E-mail</th>
					<th>Created At</th>
					<th></th>					
					<th></th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${mclients}">
					<td th:text="${client.id}"></td>
					<td th:text="${client.fname}"></td>
					<td th:text="${client.lname}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createdAt}"></td>
					<td> <a th:href="@{/client/} + ${client.id}"> [ modify ] </a></td>
					<td> <a th:href="@{/clientr/} + ${client.id}" onclick="return confirm('Are You Sure?')"> [ remove ] </a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- CONTAINER END -->


</body>
</html>